/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2019, 9:45:20 PM
    Author     : brukrneti
*/
$mainColor: #2f3782;

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 2vw !important;
}
.container-fluid {
    width: 80%;
    height: 100%;

    .row {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute; }
    .form-group:first-of-type{
        text-align: center;
        img {
            width: -webkit-fill-available;
        }
    }

    #error-message {
        color: red;
    }
}
.btn {
    border: 1px solid $mainColor;
    background-color: $mainColor;
    color: white;
}


